@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
	background:
		linear-gradient(180deg, #001B48, #02457A, #018ABE, #97CADB, #D6E8EE);
	background-size: 100% 100%;
	height: 300vh;
	animation: gradient 10s ease infinite;
	padding: 0;
	margin: 0;
	font-family: "Righteous", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

#nav {
	float: center;
	margin-top: 20px;
	margin-right: 50px;
}


#nav ul li {
	display: inline;
	margin-right: 40px;
	font-size: 20px;
}

#nav ul li a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

#nav ul li a:hover {
	color: #97CADB
}